#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.sc-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 24px;
}
.sc-container .heading {
  font-size: 50px;
  color: #f5b027;
}
.sc-container .calculator-sec {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin: auto;
}
.sc-container .calculator-sec .input-sec {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.sc-container .calculator-sec .validation-err {
  color: red;
  font-size: large;
}
